/* SG

# listing/listing-details
Use the Follwoing markup for the listing page details. 
```
<div class='detail-container clearfix'>
    <figure class='img-container'>
        <img class='img-responsive' src='../Res/images/ceo-welcome-message/ceo-welcome-message.jpg' />
        
    </figure>
    <div class="textWrapper">
        <p class='name red-text'>
            <strong>Eng. Mahmood Al Bastaki</strong>
        </p>
        <p class='designation'>
            CEO, Dubai Trade
        </p>
        
        <p>
            It gives me great pride to state that we are standing at a glorious point where Dubai Trade services become an indispensable tool to the trade community. As we move forward with an unbeatable determination, we aspire to take Dubai to where it is meant to be:
        </p>
        <p>
            The worlds number one destination for doing business and the global hub for trade and logistics. Dubai Trade has successfully managed to transform trade and logistics procedures in Dubai towards the usage of online services.
        </p>
        <p>
            This has positively impacted our customer's bottom line, saved their valuable time, exempted them from physically visiting the counters and standing in queues and relieved them from dealing with papers. This could not have been successful without the loyalty of our valued customers and the determination and dedication of our team, who spared no effort to support them day and night.
        </p>
        <p>
            In Dubai, business never sleeps, and neither does the team at Dubai Trade. Our Customer Service team efficiently attended to all customer support requirements through our state of the art Contact Centre which operates 24 hours a day, 7 days a week. We have also provided free training to more than 15,000 professionals and graduated 700 others from our innovative vocational training programme Certified Trade & Logistics Professional (CTLP).
        </p>
        <p>
            We are excited with what weve delivered so far and thrilled about our innovations. We are particularly thrilled by our innovative payment management solution, Rosoom Wallet, enabling our customers to create a separate payment profile for each of their staffs and control different levels of authorities.
        </p>
        <p>
            On a parallel track, Freight Forwarders and Exporters will soon be able to have a comprehensive look at the vessel schedules of the leading shipping lines in one consolidated interface through our new project Vessel Schedules & Cargo Booking, which will also provide them with the facility to select the required voyage and book cargo online.
        </p>
        <p>
            Tradesheild is a newly introduced robust innovation service on Dubai Trade Portal that enables customers to request, compare quotes, and purchase insurance policy online from multiple insurance providers. This service is a step forward for Dubai Trade Portal in its vision to become the one stop shop and the single window for trade facilitation.
        </p>
    </div>
    
</div>
```
*/

.content {
    .sub-head {
        font-size: $font-20;
        margin-bottom: 30px;
        margin-top: -20px;
    }

    .pic {
        @include margin-right($space-25);

        @extend .float-l;

        .social-component {
            display: none;
        }

        .img-responsive {
            ~ .social-component {
                display: block;
            }
        }

        @media (max-width: $screen-xs-max) {
            @include margin-bottom($space-20);

            @include margin-right($space-0);

            text-align: center;
            float: none;
        }

        .download {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .designation {
        @include margin-bottom($space-0);

        margin-top: 0;
        line-height: 1;
        font-size: 1.2em;
    }

    .name {
        font-size: 1.2em;
        color: #db3e38;

        @include margin-top($space-0);

        @include margin-bottom($space-10);
    }

    p {
        line-height: 1.75;

        + p {
            @include margin-top($space-30);

            @include margin-bottom($space-30);
        }
    }

    .detail-ordered-list {
        list-style-type: decimal;
        padding-start: 20px;
        -webkit-padding-start: 20px;
        -moz-padding-start: 20px;
        line-height: 1.5;

        > li {
            list-style-type: decimal;

            @include margin-top($space-10);

            @include margin-bottom($space-10);
        }
    }

    .detail-unordered-list {
        list-style-type: circle;
        padding-start: 20px;
        -webkit-padding-start: 20px;
        -moz-padding-start: 20px;
        line-height: 1.5;

        > li {
            list-style-type: circle;

            @include margin-top($space-10);

            @include margin-bottom($space-10);
        }
    }
}