.training-detail {
    .home-slider-tabs {
        background: transparent;
        padding-top: 30px;

        .home-train-calen {
            .home-tab-controller {
                //   padding: 0 15px;
                position: relative;
            }
        }
    }

    .bx-controls-direction {
        display: none;
    }
}