.download-center {
    .selectList-wrapper .selectList {
        width: auto;

        @include margin-left(4px);

        option {
            padding: 0 10px;
        }
    }
}

.downloads {
    .download-box {
        padding: 20px;
        border: 1px solid #ccc;
        background: $off-white;
        margin-bottom: 20px;

        span.item-name {
            @extend .float-l;

            display: inline-block;
            max-width: 80%;

            @media (max-width: $screen-sm-max) {
                max-width: 70%;
            }

            @media (max-width: $screen-xs-max) {
                max-width: 60%;
            }

            @media (max-width: $screen-xs-min - 1) {
                max-width: 100%;
                float: none;
                text-align: $text-left;
            }
        }

        .right-box {
            @extend .float-r;

            @media (max-width: $screen-xs-min - 1) {
                float: none;
                margin-top: 10px;
                text-align: $text-left;
            }

            a.download-btn {
                border: 1px solid $red-color;
                padding: 5px 20px;
                display: inline-block;
                vertical-align: middle;
                transition: all 0.15s ease-in-out;

                @media (max-width: $screen-xs-max) {
                    padding: 5px;
                }

                &:hover {
                    background: transparent;
                    color: $red-color;
                }
            }

            span.download-icon {
                display: inline-block;
                width: 30px;
                height: 30px;
                background: url("../images/icons/download-sprite.png") no-repeat;
                vertical-align: middle;

                @include margin-right(10px);

                &.word {
                    background-position: 0px 0px;
                }

                &.pdf {
                    background-position: -57px 0px;
                }

                &.excel {
                    background-position: -113px 3px;
                }
            }
        }
    }
}