.ui-autocomplete {
    font-family: $font-arial;
    font-weight: normal;
    font-size: 12px;
    max-height: 600px;
    overflow-y: scroll;

    .ui-state-focus {
        background: rgba(219, 62, 56, 0.89);
        color: $white;
        margin: 0px;
        border: 0;

        a {
            color: $white;
        }
    }
}