/* ----------------------shared overwritten for arabic ------------------------- */

body {
    direction: rtl;
}

.pull-left {
    float: right !important;
}

.pull-right {
    float: left !important;
}

.float-l {
    float: right;
}

.float-r {
    float: left;
}

.text-right {
    text-align: left;
}

.text-left {
    text-align: right;
}

.back-btn:before {
    border-bottom: 0px;
    border-top: 2px solid #d0322c;
}