/* SG

# social
```
                                <div class='social-component text-center'>
                                    <a href='javascript:void(0)' class='fb'>
                                        <i class="fa fa-facebook "></i>
                                    </a>
                                    <a href='javascript:void(0)' class='twitter'>
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href='javascript:void(0)' class='linkedin'>
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
```
*/

.social-component {
    > a {
        display: inline-block;
        width: 36px;
        height: 35px;
        margin: 5px 4px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background: #fff;
        -webkit-transition: background 0.25s ease-out-in;
        -moz-transition: background 0.25s ease-out-in;
        transition: background 0.25s ease-out-in;

        &.fb:hover {
            background: $fb;

            > i {
                color: #fff;
            }
        }

        &.twitter:hover {
            background: $twitter;

            > i {
                color: #fff;
            }
        }

        &.linkedin:hover {
            background: $linkedIn;

            > i {
                color: #fff;
            }
        }

        > i {
            font-size: 18px;
            line-height: 33px;
            -webkit-transition: color 0.25s ease-in-out;
            -moz-transition: color 0.25s ease-in-out;
            transition: color 0.25s ease-in-out;

            &.fa-facebook {
                color: $fb;
            }

            &.fa-twitter {
                color: $twitter;
            }

            &.fa-linkedin {
                color: $linkedIn;
            }
        }
    }
}