.forgot-password-page {
    .verification {
        font-size: $font-16;
    }

    label:not(.error) {
        color: $gray;
        font-weight: normal;
    }

    .no-padding {
        @include padding($space-0);
    }

    input {
        max-width: 300px;

        @include padding($space-5);

        border: 1px solid $gray;

        @media (max-width: $screen-xs-max) {
            float: none !important;
        }
    }

    form {
        @include margin-top($space-40);

        @include margin-bottom($space-40);

        .form-group {
            @include margin-top($space-20);

            @include margin-bottom($space-20);
        }

        button[type='submit'] {
            @include padding-top($space-10);

            @include padding-bottom($space-10);

            @include padding-left($space-15);

            @include padding-right($space-15);

            border-radius: 0;
            color: white;
            background: $red-color;
            border: none;
            font-size: $font-20;
        }

        .form-control.error {
            border: 1px solid $red-color;
        }

        label.error {
            color: $red-color;
            font-weight: normal;
        }

        .captcha-wrap {
            .form-group {
                @include margin-top($space-10);

                max-width: 300px;
            }

            .reload-captcha {
                display: block;
                height: 22px;

                @include margin-bottom($space-10);

                .reload {
                    background: url(..//images/icons/icon-refresh.png) top left no-repeat;
                    width: 21px;
                    height: 22px;

                    @extend .float-right;

                    cursor: pointer;
                }
            }

            .contact-captcha {
                margin-top: 0 !important;
                padding: 0px 2px 0px;
                text-align: center;
                color: #e2b116;
                font-size: 50px;
                border: 1px solid #ccc;
                padding: 10px 0;
                font-family: $Chocolate;
                font-style: italic;
                -webkit-user-select: none;

                /* Chrome all / Safari all */
                -moz-user-select: none;

                /* Firefox all */
                -ms-user-select: none;

                /* IE 10+ */
                user-select: none;

                /* Likely future */
            }
        }
    }
}